<%= render "events_list", events: Event.all %>

<h1>New Ticket</h1>

<%= render 'form', Ticket.new(:event_id=>@event.id, :user_id=>(user_signed_in? ? current_user.id : ''))  %>


<%= link_to 'Back', tickets_path %>
